<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright (C) 2018 The Android Open Source Project
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.calyxos.systemupdater"
    android:versionCode="31000001"
    android:versionName="12-1.0">
          <!--
          The version code is the targeted SDK_VERSION plus 6 digits for our own version code.
          The version name is the targeted Android version followed by - and our own version name.
          -->

    <uses-sdk
        android:minSdkVersion="33"
        android:targetSdkVersion="33" />

    <uses-permission android:name="android.permission.ACCESS_CACHE_FILESYSTEM" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.REBOOT" />

    <application
        android:name=".SystemUpdaterApp"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter android:priority="1">
                <action android:name="android.settings.SYSTEM_UPDATE_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".work.BootCompletedReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- needed for hilt worker injection to work -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="org.calyxos.systemupdater.androidx-startup"
            tools:node="remove" />

    </application>

</manifest>
