<?xml version="1.0" encoding="utf-8"?>
<!--
  SPDX-FileCopyrightText: 2018 The Android Open Source Project
  SPDX-FileCopyrightText: 2021 The Calyx Institute
  SPDX-License-Identifier: Apache-2.0
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.calyxos.systemupdater"
          android:versionCode="31000001"
          android:versionName="12-1.0">
          <!--
          The version code is the targeted SDK_VERSION plus 6 digits for our own version code.
          The version name is the targeted Android version followed by - and our own version name.
          -->

    <uses-sdk
        android:minSdkVersion="33"
        android:targetSdkVersion="33" />

    <uses-permission android:name="android.permission.ACCESS_CACHE_FILESYSTEM" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.REBOOT" />

    <application
        android:name=".SystemUpdaterApp"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter android:priority="1">
                <action android:name="android.settings.SYSTEM_UPDATE_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
